
<div class="container">
    <div id="SearchDiv">
    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-6">

        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search anything..." [(ngModel)]="setSearchText" (input)="inputTrackerChild()"/>

          
          <span class="left-pan"><i class="fa fa-microphone"></i></span>
        </div>
        
        <!-- <p  *ngIf="SetValuetodiv!=''">The data is {{SetValuetodiv}}</p> -->
      
      </div>
      
    </div>
    </div>
  </div>
